.scr2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: yellowgreen;
  padding: 10px;
}
body {
  background-color: rgb(153, 193, 228);
}
h1 {
  text-align: center;
  padding: 10px;
}
a {
  text-align: center;
  padding: 10px;
  font-size: large;
}
.exp {
  text-align: center;
  padding: 5px;
  background-color: aliceblue;
}
