body {
    background-color: rgb(153, 193, 228);
}
h1 , h3{
    text-align: center;
    color: black;
    margin: auto;
    padding: 10px;
    align-items: center;
    background-color: #eb1b2d;
}
.hover-button {
    background-color: #34db45; 
    color: #ffffff; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .hover-button:hover {
    background-color: #5c5607; 
  }
  body, html {
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
}